*{
    box-sizing: border-box;
}
body {
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 550px;
    position: relative;
   
}
.background-img{
    margin: 0px 0px 0px auto ;
    height: 100px;
    width: 250px;
    left: 184px;
    top: 378px;
    right: -62.24%;
    bottom: -161.16%;
    background-position: right right;
    transform: rotate(-128.49deg);
     position: absolute;
}

.description{
    width: 300px;
    height: 250px;
    padding: 20px auto;
    text-align: center;
    margin-right: 6em;

}
.title{
font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 31.25px;
line-height: 37px;
text-align: center;
color: #532964;
}
.home-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #ffffff;
}
.home-btn{
    font-family: karla;
    width: 193px;
    height: 52px;
    background: #914d9e;
    border-radius: 15px;
    border: none;
    font-weight: 700;
    font-size: 1em;
    color: #ffffff;
    outline: none;
    cursor: pointer; 
}
.home-btn:hover{
    background: #8f1389;
}