*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 20px;
    background: #e1b2eb;
}
.quiz-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 550px;
   position: relative;
}
.quiz-img{
    margin: 0px 0px 3em auto ;
    height: 150px;
    width: 200px;
    left: 184px;
    top: 378px;
    right: -62.24%;
    bottom: -161.16%;
    background-position: right right;
    background-repeat: no-repeat;
    transform: rotate(-128.49deg); 
    position: absolute; 
}
.quiz-info{
    width: 500px;
    height: 50px;
    
}
.question{
    width: 200px;
    height: 19px;
    left: 75px;
    top: 40px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #293264;
}
.btn{
    width: 100px;
    height: 35px;
    background: #D6DBF5;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    box-sizing: border-box;
    margin: 10px;
    border: 0.794239px solid #4D5B9E;
    left: 208px;
     top: 171px;
     cursor: pointer;
}
.result-btn{
    width: 120px;
    height: 35px;
    border: none;
    background: #4D5B9E;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 700;
    font-size: 10px;
    margin: auto;
    margin-right: auto;
}
.result-btn:hover{
    background: #616fb3;
    cursor: pointer;
}